body{
  background-color:#E1F6FF;
  padding:0px 200px 0px 200px;
}
fieldset{
  background-color:#ECECEC;
  border-radius:5px;
}
label{

}
input{
  width:100%;
  text-align: center;
  height: 20px;
  font-size: 12px
}
.forbbiden:hover{
  cursor:not-allowed;
}
button{
  width:100%;
  height: 30px;
  background-color:#10B818;
  border-color:#10B818;
  border-radius:5px;
  margin-top:10px;
  margin-bottom:10px;
  font-size:14px;
}
button:hover{
  opacity:0.8;
  color:#FFF;
}
